#tel{
    position: relative;
    background-image:linear-gradient( rgba(255,255,255,.7) 0%,rgba(255,255,255,.7) 100%), url("../imgs/PMBA.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: top center;
    background-attachment: fixed;
    
}

.img2{
    position: relative;
    width: 625px;
    height: 405px;
    left: 605px;
    top: 5px;
}

.navbar.navbar-expand-lg.navbar-light ul li a {
    color: white; 
}

.navbar-light{
    background: #2147CC;   
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


/*Tela Login*/



#divexterna{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    margin-left: 28%;
    margin-right: 28%;
    align-items: center;
}

#btn{
    position: relative;
    margin-top: 20px;
    width: 200px;
}

/*Teste*/

h1{
    text-align: center;
}

#dropdown{
    color: black;
}

/*Tela suspeito*/

div#div_susp{
    font-weight: bold;
    color: black;
}

.nomesus{
    margin-right: 50%;
    margin-left: 20px;
    margin-top: -15px;
}

input#nomesus{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.vulgosus{
    position: relative;
    margin-left: 20px;
    width: 39%;
    top: 5px;
}

input#vulgosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.fotosus{
    position: relative;
    top: 30px;
    margin-left: 20px;
}

input#fotosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.cpfsus{
    position: absolute;
    margin-left: 20px;
    top:330px;
}

input#cpfsus{
    background-color: rgba(0, 0, 0, 0.1)
}

.rgsus{
    position: absolute;
    top: 330px;
    margin-left: 225px;
}

input#rgsus{
    background-color: rgba(0, 0, 0, 0.1)
}

.cidadesus{
    position: relative;
    top: 208px;
    margin-left: 100px;
    margin-right: 70%;
}

input#cidadesus{
    background-color: rgba(0, 0, 0, 0.1)
}

.estadosus{
    position: relative;
    top: 140px;
    margin-right: 94%;
    margin-left: 20px;
}

input#estadosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.crimesus{
    position: relative;
    top: 150px;
    margin-left: 20px;
    margin-right: 70%;
}

input#crimesus{
    background-color: rgba(0, 0, 0, 0.1)
}

.datanasc{
    position: relative;
    top: -142px;
    margin-left: 20px;
    margin-right: 85%;
}

.sexo{
    position: relative;
    top: -210px;
    margin-left: 228px;
    margin-right: 85%;
}

select#sex{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
}

input#datanasc{
    background-color: rgba(0, 0, 0, 0.1)
}

.atu{
    position: relative;
    top: 160px;
    margin-left: 20px;
    margin-right: 70%;
}

input#localAtu{
    background-color: rgba(0, 0, 0, 0.1)
}

.mae{
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 70%;
}

input#mae{
    background-color: rgba(0, 0, 0, 0.1)
}

.pai{
    position: relative;
    top: 40px;
    margin-left: 20px;
    margin-right: 70%;
}

input#pai{
    background-color: rgba(0, 0, 0, 0.1)
}

.btnsus{
    position: absolute;
    left: 83%;
    margin: 20px;
    top: 120%;
    width: 10%;
}

button#btnsus{
    width: 140%;
}


table#tbsus{
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8)
}


/*Tela  cadastro Policial*/

div#div_pol{
    font-weight: bold;
    color: black;
}

.nomepol{
    margin-right: 50%;
    margin-left: 20px;
    margin-top: 5px;
}

input#nomepol{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.mat{
    position: relative;
    margin-left: 20px;
    margin-right: 1162px;
    top: 70px;
}

input#num_mat{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.fotopol{
    position: relative;
    top: -47px;
    margin-left: 20px;
}

input#fotopol{
    background-color: rgba(0, 0, 0, 0.1)
}

.cpfpol{
    position: absolute;
    margin-left: 20px;
    top:350px;
}

input#cpfpol{
    background-color: rgba(0, 0, 0, 0.1)
}

.rgpol{
    position: absolute;
    top: 350px;
    margin-left: 230px;
}

input#rgpol{
    background-color: rgba(0, 0, 0, 0.1)
}

.cidadepol{
    position: relative;
    top: 130px;
    margin-left: 8%;
    margin-right: 955px;
}

input#cidadepol{
    background-color: rgba(0, 0, 0, 0.1)
}

.estadopol{
    position: relative;
    top: 60px;
    margin-right: 94%;
    margin-left: 20px;
}

input#estadopol{
    background-color: rgba(0, 0, 0, 0.1)
}

.btnpol{
    position: absolute;
    margin-left: 83%;
    margin-top: 4%;
}

.pelotaopol{
    position: absolute;
    top: 510px;
    margin-right: 68%;
    margin-left: 230px;
}

input#pelotao{
    background-color: rgba(0, 0, 0, 0.1)
}

button#btnpol{
    width: 140%;
    margin: 20px;
}

.sen{
    position: relative;
    top: 74px;
    margin-left: 20px;
    margin-right: 85%;
}

input#senhap{
    background-color: rgba(0, 0, 0, 0.1);
}

/*TELA PERMUTA*/
div#permuta{
    text-align:  center;
}

div#spo{
    position: absolute;
    text-align: center;
    border: 1px solid black;
    margin-left: 20px;
    padding: 10px;
}

div#cmd{
    position: absolute;
    text-align: center;
    border: 1px solid black;
    left: 75%;
    top: 90px;
    padding: 5px;
    padding-top: 5px;
    line-height: -320pt;
    width: 250px;
}

p#via{
    position: relative;
    top: -20px;
    text-align: left;
    padding-left: 10px;

}