#tel{
    position: relative;
    background-image:linear-gradient( rgba(255,255,255,.7) 0%,rgba(255,255,255,.7) 100%), url("../imgs/PMBA.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-position-x: top center;
    background-attachment: fixed;
    
}

.img2{
    position: relative;
    width: 625px;
    height: 405px;
    left: 605px;
    top: 5px;
}

.navbar.navbar-expand-lg.navbar-light ul li a {
    color: white; 
}

.navbar-light{
    background: #2147CC;   
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


/*Tela Login*/



#divexterna{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    margin-left: 28%;
    margin-right: 28%;
    align-items: center;
}

#btn{
    position: relative;
    margin-top: 20px;
    width: 200px;
}

/*Teste*/

h1{
    text-align: center;
}

#dropdown{
    color: black;
}


/*dispensa*/


h1#titu{
    text-align: center;
}

div#dispensa{
    font-weight: bold;
    color: black;
}

#btndispensa{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;

}

.escalado{
    margin-right: 80%;
    margin-left: 20px;
    margin-top: 5px
}

.dia{
    margin-right: 85%;
    margin-left: 20px;
    margin-top: 5px;
}


.hora{
    margin-right: 90%;
    margin-left: 20px;
    margin-top: 5px;
}

.virtude{
    margin-right: 67%;
    margin-left: 20px;
    margin-top: 10px;
}

input:hora{
    position: absolute;
    margin-left: 20px;
    top:240px;
}

.as{
    position: absolute;
    top: 287px;
    margin-left: 250px;
}


input#hora  {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea#virtude{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
    
}

input#dia{  
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}



input#escalado{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}


/*Tela suspeito*/

div#div_susp{
    font-weight: bold;
    color: black;
}

.nomesus{
    margin-right: 50%;
    margin-left: 20px;
    margin-top: -15px;
}

input#nomesus{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.vulgosus{
    position: relative;
    margin-left: 20px;
    width: 39%;
    top: 5px;
}

input#vulgosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.fotosus{
    position: relative;
    top: 30px;
    margin-left: 20px;
}

input#fotosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.cpfsus{
    position: absolute;
    margin-left: 20px;
    top:330px;
}

input#cpfsus{
    background-color: rgba(0, 0, 0, 0.1)
}

.rgsus{
    position: absolute;
    top: 330px;
    margin-left: 225px;
}

input#rgsus{
    background-color: rgba(0, 0, 0, 0.1)
}

.cidadesus{
    position: relative;
    top: 208px;
    margin-left: 100px;
    margin-right: 70%;
}

input#cidadesus{
    background-color: rgba(0, 0, 0, 0.1)
}

.estadosus{
    position: relative;
    top: 140px;
    margin-right: 94%;
    margin-left: 20px;
}

input#estadosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.crimesus{
    position: relative;
    top: 150px;
    margin-left: 20px;
    margin-right: 70%;
}

input#crimesus{
    background-color: rgba(0, 0, 0, 0.1)
}

.datanasc{
    position: relative;
    top: -142px;
    margin-left: 20px;
    margin-right: 85%;
}

.sexo{
    position: relative;
    top: -210px;
    margin-left: 228px;
    margin-right: 85%;
}

select#sex{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
}

input#datanasc{
    background-color: rgba(0, 0, 0, 0.1)
}

.atu{
    position: relative;
    top: 160px;
    margin-left: 20px;
    margin-right: 70%;
}

input#localAtu{
    background-color: rgba(0, 0, 0, 0.1)
}

.mae{
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 70%;
}

input#mae{
    background-color: rgba(0, 0, 0, 0.1)
}

.pai{
    position: relative;
    top: 40px;
    margin-left: 20px;
    margin-right: 70%;
}

input#pai{
    background-color: rgba(0, 0, 0, 0.1)
}

.btnsus{
    position: absolute;
    left: 83%;
    margin: 20px;
    top: 100%;
    width: 10%;
}

button#btnsus{
    width: 140%;
}


table#tbsus{
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.descri{
    position: relative;
    top: 60px;
    margin-left: 20px;
    margin-right: 90%;
    width: 20px;
    word-wrap: break-word ;
}

textarea#descri{
    background-color: rgba(0, 0, 0, 0.1);
    width: 386px;
    height: 150px;
}


/*Tela  cadastro Policial*/

div#div_pol{
    font-weight: bold;
    color: black;
}

.nomepol{
    margin-right: 50%;
    margin-left: 20px;
    margin-top: 5px;
}

input#nomepol{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.sexopol{
    position: relative;
    top:-30px;
    margin-left: 228px;
    margin-right: 85%;
}

.mat{
    position: relative;
    margin-left: 20px;
    margin-right: 1162px;
    top: 40px;
}

input#num_mat{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.fotopol{
    position: relative;
    top: 20px;
    margin-left: 20px;
}

input#fotopol{
    background-color: rgba(0, 0, 0, 0.1)
}

.cpfpol{
    position: absolute;
    margin-left: 20px;
    top:350px;
}

input#cpfpol{
    background-color: rgba(0, 0, 0, 0.1)
}

.rgpol{
    position: absolute;
    top: 350px;
    margin-left: 230px;
}

input#rgpol{
    background-color: rgba(0, 0, 0, 0.1)
}

.cidadepol{
    position: relative;
    top: 80px;
    margin-left: 8%;
    margin-right: 955px;
}

input#cidadepol{
    background-color: rgba(0, 0, 0, 0.1)
}

.estadopol{
    position: relative;
    top: 12px;
    margin-right: 94%;
    margin-left: 20px;
}

.datanascP{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 85%;
}

input#estadopol{
    background-color: rgba(0, 0, 0, 0.1)
}

.btnpol{
    position: absolute;
    margin-left: 83%;
    margin-top: 4%;
}

.pelotaopol{
    position: absolute;
    top: 554px;
    margin-right: 68%;
    margin-left: 230px;
}

input#pelotao{
    background-color: rgba(0, 0, 0, 0.1)
}

input#patente{
    background-color: rgba(0, 0, 0, 0.1)
}

button#btnpol{
    width: 140%;
    margin: 20px;
}

.sen{
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 85%;
}

input#senhap{
    background-color: rgba(0, 0, 0, 0.1);
}

/*TELA PERMUTA*/
div#permuta{
    text-align:  center;
}

div#spo{
    position: absolute;
    top: 150px;
    text-align: center;
    border: 1px solid black;
    margin-left: 20px;
    padding: 10px;
    width: 180px;
    height: 110px;
    left: 200px;
}

div#cmd{
    position: relative;
    text-align: center;
    border: 1px solid black;
    right: -660px;
    top: -159px;
    padding: 5px;
    padding-top: 5px;
    line-height: -320pt;
    width: 260px;
    height: 130px;
}

p#via{
    position: relative;
    top: -40px;
    text-align: left;
    left: -10px;
    text-decoration: underline

}

p#sp{
    text-align: center;
}

h1#tpermuta{
    font-size: 19pt;   
}

p#spo{
    position: relative;
    top: -45px;
    text-align: center
}

.permutalo{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}

/*TELA REGISTRO DE POLICIAL*/

.registropolicial{
    border: #000000 solid 1px;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 25%;
    height: 100%;
}

.registropolicia{
    margin-left: 5%;
}

.patente{
    position: relative;
    margin-top: -18px;
    margin-left: 17%;
    margin-right: 69.5%;
}

.registron{
    position: relative;
    margin-top: 18%;
    margin-left: 20px;
}

.registronome{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 30%;
    text-align: center;
}

.registrof{
    position: absolute;
    margin-top: -190px;
    margin-left: 35.2%;
}

.registrom{
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
}

.registromatricula{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registros{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registrosexo{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registrocp{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}

.registrocpf{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registror{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registrorg{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registroe{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroestado{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registroc{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registrocidade{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registrou{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registrounidade{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 10px;
}

/*TELA REGISTRO DE SUSPEITO*/

.registrosuspeito{
    border: #000000 solid 1px;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 25%;
    height: 100%;
    
}

.registrosus{
    margin-left: 5%;
}


.registroSf{
    position: absolute;
    margin-top: -190px;
    margin-left: 35.2%;
}

.registroSn{
    position: relative;
    margin-top: 18%;
    margin-left: 20px;
}

.registronome{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    text-align: center;
}


.registroSv{
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
}

.registrovulgo{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    text-align: center;
}

.registroSdata{
    position: relative;
    margin-top: -80px;
    margin-left: 20px;
     
}

.registrodatan{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registroSex{
    position: relative; 
    margin-top: 40px;
    margin-left: 50%;
}

.registroSsexo{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registroScp{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroScpf{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registroSr{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registroSrg{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registroSe{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroSestado{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registroSc{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registroScidade{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registroSu{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registropais{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 10px;
}

.registroObs{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroObss{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 10px;
}



