

.img2{
    position: relative;
    width: 625px;
    height: 405px;
    left: 605px;
    top: 5px;
}

.navbar.navbar-expand-lg.navbar-light ul li a {
    color: white; 
}

.navbar-light{
    background: #2147CC;   
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}


/*Tela Login*/



#divexterna{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    margin-left: 28%;
    margin-right: 28%;
    align-items: center;
}

#btn{
    position: relative;
    margin-top: 20px;
    width: 200px;
}

/*Teste*/

h1{
    text-align: center;
}

#dropdown{
    color: black;
}


/*dispensa*/


h1#titu{
    text-align: center;
}

div#dispensa{
    font-weight: bold;
    color: black;
}

#btndispensa{
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;

}

.escalado{
    margin-right: 80%;
    margin-left: 20px;
    margin-top: 5px
}

.dia{
    margin-right: 85%;
    margin-left: 20px;
    margin-top: 5px;
}


.hora{
    margin-right: 90%;
    margin-left: 20px;
    margin-top: 5px;
}

.virtude{
    margin-right: 67%;
    margin-left: 20px;
    margin-top: 10px;
}

input:hora{
    position: absolute;
    margin-left: 20px;
    top:240px;
}

.as{
    position: absolute;
    top: 287px;
    margin-left: 250px;
}

.ass{
    position: relative;
    margin-top: -68px;
    margin-left: 200px;
    margin-right: 78%;
}


input#hora  {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea#virtude{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
    
}

input#dia{  
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}



input#escalado{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}


/*Tela suspeito*/

div#div_susp{
    font-weight: bold;
    color: black;
}

.nomesus{
    margin-right: 50%;
    margin-left: 20px;
    margin-top: -15px;
}

input#nomesus{
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.vulgosus{
    position: relative;
    margin-left: 20px;
    width: 39%;
    top: 5px;
}

input#vulgosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.fotosus{
    position: relative;
    top: 20px;
    margin-left: 20px;
}

input#fotosus{
    background-color: rgba(0, 0, 0, 0.1)
}

input#imp{
    background-color: rgba(0, 0, 0, 0.1)
}

.cpfsus{
    position: relative;
    left: 20px;
    top:40px;
    width: 200px;
}

input#cpfsus{
    background-color: rgba(0, 0, 0, 0.1)
}

.rgsus{
    position: relative;
    top: 70px;
    width: 200px;
    left: 20px;
}

input#rgsus{
    background-color: rgba(0, 0, 0, 0.1)
}

.cidadesus{
    position: relative;
    top: -7px;
    margin-left: 100px;
    margin-right: 70%;
}

input#cidadesus{
    background-color: rgba(0, 0, 0, 0.1)
}

.estadosus{
    position: relative;
    top: 60px;
    margin-right: 94%;
    margin-left: 20px;
}

input#estadosus{
    background-color: rgba(0, 0, 0, 0.1)
}

.enderecosus{
    position: relative;
    top: 10px;
    margin-left: 20px;
    margin-right: 70%;
}

#enderecosus{
    background-color: rgba(0, 0, 0, 0.1);
}

.crimesus{
    position: relative;
    top: 20px;
    margin-left: 20px;
    margin-right: 70%;
}

input#crimesus{
    background-color: rgba(0, 0, 0, 0.1)
}

.datanasc{
    position: relative;
    top: 110px;
    margin-left: 20px;
    margin-right: 85%;
}

.sexo{
    position: relative;
    top: 40px;
    left: 228px;
    width: 100px ;
}

select#sex{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
}

input#datanasc{
    background-color: rgba(0, 0, 0, 0.1)
}

.atu{
    position: relative;
    top: 30px;
    margin-left: 20px;
    margin-right: 70%;
}

input#localAtu{
    background-color: rgba(0, 0, 0, 0.1)
}

.mae{
    position: relative;
    top: 50px;
    margin-left: 20px;
    margin-right: 70%;
}

input#mae{
    background-color: rgba(0, 0, 0, 0.1)
}

.pai{
    position: relative;
    top: 40px;
    margin-left: 20px;
    margin-right: 70%;
}

input#pai{
    background-color: rgba(0, 0, 0, 0.1)
}

.btnsus{
    position: relative;
    left: 83%;
    margin: 20px;
    top: 100%;
    width: 10%;
}

button#btnsus{
    width: 140%;
}


table#tbsus{
    position: relative;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.8);
}

.descri{
    position: relative;
    top: 60px;
    margin-left: 20px;
    word-wrap: break-word ;
}

textarea#descri{
    background-color: rgba(0, 0, 0, 0.1);
    width: 386px;
    height: 150px;
}


/*Tela  cadastro Policial*/

div#div_pol{
    font-weight: bold;
    color: black;
}

.patenteTela{
    flex: auto;
    position:  relative;
    top: -15px;
    left: 27%;
    width: 150px;
}

.setorTela{
    flex: auto;
    position:  relative;
    top: -107px;
    left: 29%;
    width: 150px;
}

.optchefe{
    position: relative;
    top: -70px;
    left: 20px;
    border: solid 1pt rgb(170, 162, 162);
    border-radius: 5px;
    width: 220px;
    height: 30px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

select#patente{
    background-color: rgba(0, 0, 0, 0.1);
    padding: 6px;
    border-radius: 5px;
}

option#postos{
    font-size: 12pt;
    font-weight: bold;
}

option#graduacao{
    font-size: 12pt;
    font-weight: bold;
}

.nomepol{
    flex: auto;
    margin-right: 50%;
    margin-left: 20px;
    margin-top: 5px;
}

input#nomepol{
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.sexopol{
    flex: auto;
    position: relative;
    top: -40px;
    left: 19%;
}

.mat{
    flex: auto;
    position: relative;
    left: 5px;
    top: 28px;
}

input#num_mat{
    background-color: rgba(0, 0, 0, 0.1);
    background-size: 50px;
}

.fotopol{
    flex: auto;
    position: relative;
    top: 50px;
    left: 20px;
}

input#fotopol{
    background-color: rgba(0, 0, 0, 0.1)
}

.cpfpol{
    flex: auto;
    position: relative;
    top: -70px;
    left: 5px;
}

input#cpfpol{
    background-color: rgba(0, 0, 0, 0.1)
}

.rgpol{
    flex: auto;
    position: relative;
    top: -138px;
    left: 18%;
}

input#rgpol{
    background-color: rgba(0, 0, 0, 0.1)
}

.cidadepol{
    flex: auto;
    position: relative;
    top: -160px;
    left: 11%;
    width: 300px;
}

input#cidadepol{
    background-color: rgba(0, 0, 0, 0.1)
}

.estadopol{
    flex: auto;
    position: relative;
    top: -92px;
    left: 20px;
    width:80px;
}

.datanascP{
    flex: auto;
    position: relative;
    top: -110px;
    left: 20px;
    width: 150px;
}

#dataNascimento{
    background-color: rgba(0, 0, 0, 0.1)
}

input#estadopol{
    background-color: rgba(0, 0, 0, 0.1)
}

.btnpol{
    position: absolute;
    margin-left: 83%;
    margin-top: 4%;
}

.pelotaopol{
    flex: auto;
    position: relative;
    top: -178px;
    left: 230px;
    width: 200px;
}

input#pelotao{
    background-color: rgba(0, 0, 0, 0.1)
}

input#patente{
    background-color: rgba(0, 0, 0, 0.1)
}

button#btnpol{
    width: 140%;
    margin: 20px;
}

.sen{
    flex: auto;
    position: relative;
    top: -132px;
    left: 20px;
    width: 200px;
}

.confirmarsen{
    position: relative;
    top: -200px;
    left: 19%;
    width: 200px;
}

input#senhap{
    background-color: rgba(0, 0, 0, 0.1);
}

/*TELA PERMUTA*/
div#permuta{
    text-align:  center;
}

div#spo{
    position: relative;
    top: 50px;
    text-align: center;
    border: 1px solid black;
    margin-left: 20px;
    padding: 10px;
    width: 180px;
    height: 110px;
    left: 200px; 
}

.cmd{
    position: relative;
    text-align: center;
    border: 1px solid black;
    top: -70px;  
    left: 900px;  
    padding: 5px;
    padding-top: 5px;
    line-height: -320pt;
    width: 260px;
    height: 130px;
}

.divpermuta{
    text-align: center;

}

.corpoPermuta{
    position: relative;
    text-align: center;
}

p#via{
    position: relative;
    top: -40px;
    text-align: left;
    left: -10px;
    text-decoration: underline

}

p#sp{
    text-align: center;
}

h1#tpermuta{
    font-size: 19pt;   
}

p#spo{
    position: relative;
    top: -45px;
    text-align: center
}

.permutalo{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}

.virtude{
    position: relative;
    margin-left: 20px;
}

textarea#virtude{
    position: relative;
    height: 150px;
    width: 278px;
    background-color: rgba(0, 0, 0, 0.1);
    word-wrap: break-word ;
}

.btnpermuta{
    position: relative;
    top:50px;
    margin: 20px;
}
#btnpermuta{
    width: 170px;
    height: 38px;
}

.butaoSPO{
    position: relative;
    top: -30px;
    border-radius: 5px;
}

a#btncmdSim{
    position: relative;
    background: green;
    top: 10px;
    border: #b1b0b0;
}
a#btncmdNao{
    position: relative;
    background: red;
    top: 10px;
    border: #b1b0b0;
    left: 20px;
}
a#btncmdRefazer{
    position: relative;
    background: yellow;
    top: 10px;
    border: #b1b0b0;
    left: 40px;
}

a#btnspoSim{
    position: relative;
    background: green;
    border: #b1b0b0;
    left: -68px;
}
a#btnspoNao{
    position: relative;
    background: red;
    border: #b1b0b0;
    left: -40px;
}
a#btnspoRefazer{
    position: relative;
    background: yellow;
    border: #b1b0b0;
    top: -35px;
    left: 100px;
}

/*TELA REGISTRO DE POLICIAL*/

.registropolicial{
    border: #000000 solid 1px;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 25%;
    height: 100%;
}

.registropolicia{
    margin-left: 5%;
}

.patente{
    position: relative;
    margin-top: -47px;
    margin-left: 26%;
    margin-right: 66%;
}

.registron{
    position: relative;
    margin-top: 18%;
    margin-left: 20px;
}

.registronome{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 30%;
    text-align: center;
    font-size: 13pt;
}

.registrof{
    position: absolute;
    margin-top: -190px;
    margin-left: 35.2%;
}

.registrom{
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
}

.registromatricula{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}

.registropa{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registropatente{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registros{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registrosexo{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registrocp{
    position: relative;
    margin-top: 50px;
    margin-left: 20px;
}

.registrocpf{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registror{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registrorg{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registroe{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroestado{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
}


.registroc{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registrocidade{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
}


.registrou{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registrounidade{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 10px;
}

/*TELA REGISTRO DE SUSPEITO*/

.registrosuspeito{
    border: #000000 solid 1px;
    margin-left: 25%;
    margin-top: 20px;
    margin-right: 25%;
    height: 100%;
    
}

.registrosus{
    margin-left: 5%;
}


.registroSf{
    position: absolute;
    margin-top: -190px;
    margin-left: 35.2%;
}

.registroSn{
    position: relative;
    margin-top: 18%;
    margin-left: 20px;
}

.registronome{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    text-align: center;
}


.registroSv{
    position: relative;
    margin-top: 30px;
    margin-left: 20px;
}

.registrovulgo{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    text-align: center;
    font-size: 13pt;
}

.registroSdata{
    position: relative;
    margin-top: -80px;
    margin-left: 20px;
}

.registrodatan{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
    font-size: 13pt;

}


.registroSex{
    position: relative; 
    margin-top: 40px;
    margin-left: 50%;
}

.registroSsexo{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
    font-size: 13pt;
}


.registroScp{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroScpf{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
    font-size: 13pt;
}


.registroSr{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registroSrg{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
    font-size: 13pt;
}


.registroSe{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroSestado{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 60%;
    text-align: center;
    font-size: 13pt;
}


.registroSc{
    position: relative;
    margin-top: -80px;
    margin-left: 50%;
}

.registroScidade{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 50%;
    margin-right: 10%;
    text-align: center;
    font-size: 13pt;
}


.registroSu{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registropais{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 10px;
    font-size: 13pt;
}
.registroObs{
    position: relative;
    margin-top: 40px;
    margin-left: 20px;
}

.registroObss{
    position: relative;
    border: #000000 solid 1px;
    margin-left: 20px;
    margin-right: 10%;
    padding-left: 10px;
    font-size: 13pt;
}

/*TELA PERMUTASUBISTITUTO*/

.solicitante{
    position: relative;
    left: 73%;
    top: -575px;
}

/*TELA CRIME*/

.comparsa{
    position: relative;
    top: 20px;
    margin-left: 20px;
    margin-right: 59.6%;
}

.dataprisao{
    position: relative;
    top:30px;
    margin-left: 20px;
    margin-right: 85%;  
}

/*LISTA SUSPEITO*/

.h4nome{
    position: relative;
    font-size: 13pt;
}

.h4vulgo{
    position: relative;
    font-size: 13pt;
    top: -29px;
    left: 40%;
}

.h4qtd{
    position: relative;
    font-size: 13pt;
    top: -57px;
    left: 80%;
}

li#tabsus{
    height: 50px;
}

li#tabela2{
    height: 50px;
}


/* Configurações de errors */

span.help-block{
    color: red;
}

/* Telas pupup */

div#popupcx{
    display: none;
    border: #b1b0b0 solid 1px;
    top: 200px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 150px;
    z-index: 1000;
    background: rgba(245, 231, 231, 0.925);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

p#popuptxt{
    position: relative;
    color: #000000;
    text-align: center;
    top: 40px;
}

#popupbtnsim{
    height: 35px;
    width: 100px;
    margin-left: 30px;
    margin-top: 50px;
}

#popupbtnnao{
    height: 35px;
    width: 100px;
    margin-left: 140px;
    margin-top: 50px;
    
}

div#popupimg{
    position: absolute;
    top: 10px;
    left: 10px;
}

/*ABONO*/

.tabelaAbono{
    position: relative;
    left: 20%;
}